VITE_FIREBASE_API_KEY="AIzaSyCpfMSDDk3X6xowiN7BYjS9aby8EpLrrVo"
VITE_FIREBASE_AUTH_DOMAIN="anand-9e8fd.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="anand-9e8fd"
VITE_FIREBASE_STORAGE_BUCKET="anand-9e8fd.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="374629929500"
VITE_FIREBASE_APP_ID="1:374629929500:web:a7935231b00ad4fd7a85d9"
VITE_SERVER_URL="http://localhost:3001"